.add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    width: 66px;
    height: 66px;
}

.freezer-button {
    display: inline;
}

.clear-button {
    position: fixed;
    right: 20px;
    bottom: 90px;
    z-index: 1000;
    background-color: red;
}

.list {
    padding-left: 0;
    width: 95%;
}

.list-item {
    padding-left: 0;
}