<button type="button" class="clear-button" (click)="removeChecked()" mat-fab>clear</button>
<button type="button" class="add-button" mat-fab (click)="AddNewItem()">Add</button>

<mat-selection-list #itemList class="list">
    <mat-list-option class="list-item" *ngFor="let item of items$ | async" (click)="selectedItem(item)" [selected]="item.checked" checkboxPosition="before">
        {{ item.value }}
        <button type="button" class="freezer-button" color="primary" mat-mini-fab><mat-icon>ac_unit</mat-icon></button>
    </mat-list-option>
</mat-selection-list>