<form (ngSubmit)="submit()">
    <mat-error *ngIf="errorMessage">
        {{ errorMessage }}
    </mat-error>
    <mat-form-field class="input-width">
        <input matInput type="password" placeholder="old password" [(ngModel)]="oldPassword" name="oldPassword">
    </mat-form-field>
    <mat-form-field class="input-width">
        <input matInput type="password" placeholder="new password" [(ngModel)]="newPassword" name="newPassword">
    </mat-form-field>
    <mat-form-field class="input-width">
        <input matInput type="password" placeholder="new password repeate" [(ngModel)]="newPasswordCheck" name="newPasswordCheck">
    </mat-form-field>
    <button type="submit" class="add-button" mat-raised-button>save</button>
</form>