.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.app-toolbar {
    background-color: blanchedalmond;
}

.add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.list {
    padding-left: 0;
    width: 95%;
}

.list-item {
    padding-left: 0;
}