.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.app-toolbar {
    background-color: blanchedalmond;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.list {
    width: 80%;
}