<p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>

<form class="login-form" (ngSubmit)="login()">
  <mat-form-field class="input-width">
    <input type="text" matInput placeholder="email" [formControl]="mailFormControl" name="newitem">
  </mat-form-field>
  <mat-form-field class="input-width">
    <input type="password" matInput placeholder="password" [(ngModel)]="password" name="newitem">
  </mat-form-field>
  <button type="submit" class="add-button" mat-raised-button>Login</button>
</form>
