.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.app-toolbar {
    background-color: blanchedalmond;
}

.example-icon {
    padding: 0 14px;
}

.toolbar-version {
  font-size: 9px;
  margin-left: 5px;
  height: 24px;
  vertical-align: bottom;
}
